.component--game {
  border: 1px solid red;
}
/* header */
.container__header {
}
.item {
  padding: 5px;
  background-color: aquamarine;
  width: 200px;
  display: inline-block;
}
.item--timer {
  margin-right: 15px;
}

/* body */
.container__body {
  margin-top: 20px;
  margin-bottom: 20px;
}
.mole-home {
  display: inline-block;
  padding: 5px;
  margin: 10px;
  background-color: rgb(216, 216, 216);
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.mole {
  width: 100%;
  height: 100%;
}
.mole__on {
  background-color: violet;
}

hr {
  visibility: hidden;
}
