.history__container {
  text-align: center;
}
.history__item {
  padding: 7px;
  background-color: #2e7d32;
  color: white;
  border-radius: 3px;
  width: 400px;
  margin: 3px auto;
  span {
    display: inline-block;
  }
}
.item__text--score {
  width: 100px;
}
.history__empty {
  color: gray;
}
